<h1 align="center">Editar Credito</h1>

<%= if @credit.product_id ==10 %>
    <%= render 'formvale' %>
<%= else %>
    <%= render 'form2' %>
<%= end %>


<%= link_to 'Show', @credit %> |
<%= link_to 'Atras', credits_path %>

